 
        * {
           
            margin: 0px;
            padding: 0px;
        }

        .wrapper {
            width: 80%;
            height: 80%;
            margin: 5% auto;
        }

        .body {

            text-align: center;
        }

        .container {
            margin: 5% auto;
            width: 75%;
            height: 600px;

        }

        .flex-container1 {
            display: flex;
            flex-wrap: nowrap;
            background-color: DodgerBlue;
            height: 450px;
        }

        .flex-container1>div {
            background-color: #f1f1f1;

            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        #left-flex {
            width: 30%;
            background-color: DodgerBlue;
        }

        #right-flex {
            position: relative;
            width: 70%;
        }

        .flex-container2 {
            display: flex;
            flex-wrap: nowrap;
            background-color: DodgerBlue;
        }

        .flex-container2>div {
            background-color: #f1f1f1;
            width: 250px;
            height: 200px;
            border:1px solid gray;
            text-align: center;
            line-height: 75px;
            
        }

        #image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .menu-bar {
            position: absolute;
            left: 95%;
            top: 0px;
            color: white;


        }

        #right-flex h3 {
            position: absolute;
            top: 0px;
            left: 20px;
            color: white;
        }

        #right-flex h1 {
            position: absolute;
            top: 50px;
            left: 20px;
            text-transform: uppercase;
            color: white;
        }

        #left-flex h2 {
            color: white;
        }

        #icon-img {
            position: absolute;
            top: 30%;
            left: 20%;
            width: 100px;
            height: 100px;
        }

        #temp {
            color: white;
            margin-top:80%;
        }

        .fa-bars {
            position: absolute;
            left: 95%;
            top: 0px;
            color: white;
        }

        .fa-times {
            position: absolute;
            left: 95%;
            top: 0px;
            color: white;
            visibility: hidden;
        }

        .nav-menu {
            position: absolute;
            left: 79%;
            top: 120px;
            visibility: hidden;

        }

        .nav-menu li {
            padding: 10px 20px;
           opacity: 0.9;
            text-decoration: none;
            list-style: none;
        }

        .nav-menu li a {
            text-decoration: none;
            color: white;
            list-style: none;
            font-style: bold;
            font-size: 20px;
            font-weight: bold;
        }
      
    
